.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* responsive-movil */


/* responsive-tablet */



/* responsive-pc */

@media (max-width: 992px){

  

}


/*Nav*/
.Mytitle{
  font-family: 'Consolador', cursiva;
  text-align: center;
}


.dropdown-menu{
  position: absolute;
  display: none; /* Cambiar sólo este valor */
  width: 100%;
  background: red;
  float:inherit;
}

.Mytitle2{
  font-family: 'Consolador', cursiva;
  text-align: center;
  color: white;
 
}



/*Inicio*/


.carrusel{
  margin: 10vh;

  

  
}

  .banner{
    display: flex;
    justify-content: center;
  
  
    

  
}


/*Footer*/

.footer {
  background: rgb(248,249,250);
  background: linear-gradient(32deg, rgba(248,249,250,1) 30%, rgba(44, 75, 114, 1)100%);
}


.footer .footer_top {
  padding-top: 50px;
  padding-bottom: 50px;
}

@media (max-width: 767px) {

  .footer .footer_top {
    padding-top: 60px;
    padding-bottom: 30px;
  }
}



@media (max-width: 767px) {

  .footer .footer_top .footer_widget {
    margin-bottom: 30px;
  }
}




.footer .footer_top .footer_widget .links {
  position: relative;
  top: 0;
    text-decoration: none;
}



.footer .footer_top .footer_widget .footer_logo {
  font-size: 22px;
  font-weight: 600;
  
  text-transform: capitalize;
  margin-bottom: 35px;
}

@media (max-width: 767px) {

  .footer .footer_top .footer_widget .footer_logo {
    margin-bottom: 20px;
  }
}


.footer .social_links li a{
  font-size: 30px;
  text-decoration: none;
}


.footer  ul {

  list-style: none;
  
}

.footer_logo_index {
  text-decoration: none;
  color: black;
}



.footer_links {
  text-decoration: none;
}

/*Search*/
.imagen-search{
  display:flex;
  width: 90%;
  justify-content: center;

}

.container-search{
  display:flex;
  justify-content: center;
  position: absolute;
  margin: 16rem;
  width: 45vh;
  border-radius: 5rem;
}

 
/*Cards Inicio*/
.card-container-padre {
  display: flex;
  width: 84%;
  margin: 10vh;
  justify-content: space-around;
    padding: 5vh;
    background:rgb(110, 137, 169);
  box-shadow: 4px 4px rgb(109, 135, 167);
  
}

.card-container-hijo{
 display: flex;
  width: 84%;
  margin: 10vh;
  justify-content: space-around;
    padding: 5vh;
 
    background:rgba(44, 75, 114, 1);
    box-shadow: 6px 6px rgba(153, 180, 191, 1); 

  

}



 .card-container{
  width: 50vh;
  margin:auto ;
  overflow: hidden; 
  transition: 0.3s;
  animation: ease-in; 
  overflow: hidden;
  
 }
 
 .card-container:hover{
  transform: scale(1.1);

} 

/*Cities tarjetas*/


.cardcontainer:hover{
  transform: scale(1.1);

} 
.contenedor-tarjetas{
  display: flex;
  width: 90%;
  margin: 5rem;
  padding-left: 7%;
 

}
.cardcontainer{
  
  width: 55vh;
  padding: 2rem;
  align-content: space-between;
  transition: 0.2s;
  animation: ease-in; 
  overflow: hidden;

}

.prueba{
  display: flex;
padding: 0%;
  flex-wrap: wrap;
justify-content: center;


 
}


/*City*/


.card-body-city{
  margin: 2.5rem;
}

.tarjeta-city{
  margin: 3rem;
}

.comentarios{
 
  margin: 2rem;
}
/* .image-container img{
  overflow: hidden;
  height: 300px;

}

.card-content{
  margin: 1rem;
  margin-top: 0.5rem;
}

h3,p{
  margin: 0;
  padding: 0;
 
}

card-title{
  margin-bottom: 0.5rem;
}

.btn{
  display: flex;
  justify-content: center;
}

.btn button{
  padding: 0.5rem;
 
  border: none;
  transition: 0.2s;
  margin-bottom: 0.5rem;
  border-radius: 3px;

}

.btn button:hover{
  background: hsla(0, 0%, 98%, 0.1);
}



.card-section{
  width: 19rem;
 
  border-radius: 15px;
  
}

.cards-section-padre{
  justify-content: space-around;
  display: flex;
  
}

.card-text-card{
color: #7a7a7a;
} */


/*Ingresar*/
 .menu_contacto{
  font-weight: 500;
  color: rgb(252, 252, 252);
  text-align: center;
  
}

/* h5,h1{
  text-align: center;
} */

  /* .id_contacto{
 
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: absolute;
  
}    */

.form{
  display: flex;
  justify-content: center;
  align-items: center;
  
 


} 
 .form{
  width: 100%;
  padding-left: 10%;
  justify-content: center;
  background-color:rgb(160, 198, 213);
} 
/* form .grupo_contacto{
  position:relative;
  width: 50vh;
  height: 11%;
 }  */

 /* .text_area_contacto {
  display: flex;
 }  */

 .caja_contacto{
  height: 530px;
  width: 60%;
  background: rgb(248,249,250);
  background: linear-gradient(32deg,  rgb(160, 198, 213) 10%,rgb(55, 81, 128)100%);
  padding: 5% 8% 0% 8%;
  float:right;
  margin: 10%;
  border-radius: 20px;
 } 

 @media (max-width: 767px) {
  .form{
    display: flex;
    justify-content: center;
    align-items: center;
  }
 
 .caja_contacto{
  height: 850px;
  width: 100%;
  padding: 5% 8% 0% 8%;
  margin: 10%;
  border-radius: 20px;
  }
} 

.inicio_sesion{
display:flex;



}



/* .input {
  background: none;
  color: #974c4c;
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid var(--colorTextos);
} */

/* input:focus{
  outline: none;
  color: #c56767;
} */

 /* label{
  color: var(--colorTextos);
  font-size:16px;
  position:absolute;
  top: 10px;
  transition: 0.5s ease-in-out all;
  pointer-events: none;
}  */

 /* input:focus~label,
input:valid~label{
  top: -14px;
  font-size: 15px;
  color: #0f0f10;
}  */

 /* .barra_contacto {
  position:relative;
  display: block;
  width: 0%;
}  */

 /* .barra_contacto::before{
  content: "";
  height: 2px;
  width: 100%;
  bottom: 0;
  position: absolute;
  background: linear-gradient(to right, #911616, #947a43);
  transition: 0.3s ease width;
  left: 0;
}   */
/* 
 .color-btn_contacto{
  background-color: rgb(25, 158, 7);
  color: white;
}  */


/*Itinerario*/

.col-itinerario{
  width: 19rem;
display: inline-block;
  margin: 6rem;
 
  
 

}

.card-body-itinerario{
  background: rgb(248,249,250);
  background: linear-gradient(32deg,  rgb(255, 254, 253) 10%,rgb(199, 214, 232)100%);
  margin: 0.2rem;
  border-radius: 0.2rem;

}








/* Color Theme Swatches in Hex */
.Passports-to-world-travel-1-hex { color: #2D4B73; }
.Passports-to-world-travel-2-hex { color: #253C59; }
.Passports-to-world-travel-3-hex { color: #99B4BF; }
.Passports-to-world-travel-4-hex { color: #D9B70D; }
.Passports-to-world-travel-5-hex { color: #BF8D30; }

/* Color Theme Swatches in RGBA */
.Passports-to-world-travel-1-rgba { color: rgba(44, 75, 114, 1); }
.Passports-to-world-travel-2-rgba { color: rgba(37, 59, 89, 1); }
.Passports-to-world-travel-3-rgba { color: rgba(153, 180, 191, 1); }
.Passports-to-world-travel-4-rgba { color: rgba(216, 182, 13, 1); }
.Passports-to-world-travel-5-rgba { color: rgba(191, 141, 47, 1); }






















/* .Cajas{
  background-color: white;
  display: flex;
    justify-content: center;
    width: 95%;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
   
}

.Covid-19{
  flex: 1;
    margin-top: 40px;
    margin-right: 40px;
    margin-left: 40px;
   
 
}

.Novedades{
  flex: 1;
  margin-top: 70px;
  margin-right: 40px;
}

.Consejos{
  flex: 1;
  margin-top: 40px;
  margin-right: 40px;

} */